* {
    box-sizing: border-box;

}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;

}

.flex-container {
    display: flex;
    flex-flow: column;
    height: 100vh;

}

.flex-content {
    display: flex;
    flex-flow: row wrap;

    flex: 90.5%;

    /* border: 1px solid lightcoral; */
}



/* navbar/menu----------------- */

.nav {
    flex: 13%;
    background: #000000;

    /* border: 1px solid red; */

}

.navbar {
    display: flex;
    flex-flow: column wrap;
    padding: 24px 24px;

}

.navbar ul {
    padding-top: 20px;
    padding-left: 0px;
    margin-bottom: 0;
    list-style: none;
}

.navbar ul li {
    color: #a7a7a7;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.navbar ul img {
    display: inline-block;
}

.navbar ul p {
    font-weight: bold;
    font-size: 14px;
    padding-left: 13px;
    display: inline-block;
    margin: 0;
}

.navbar ul li:hover {
    filter: invert(0%) sepia(2%) saturate(6%) hue-rotate(327deg) brightness(184%) contrast(101%);
    cursor: pointer;
    transition: 0.1s;
}

.nav-playlist li p {
    padding-left: 0px;
    font-size: 13px;
}

.divisoria {
    height: 0.1px;
    background: #a7a7a752;
}




/* classses para mudar os icones do menu para branco pelo js */

.hide {
    display: none !important;

}

.branco {
    filter: invert(0%) sepia(2%) saturate(6%) hue-rotate(327deg) brightness(184%) contrast(101%);

}



/* container flex para o conteudo da pagina------------------------- */

.conteudo {
    display: flex;
    flex-flow: column;
    flex: 87%;
    background: #121212;
    overflow: auto;
    height: 91vh;
}

::-webkit-scrollbar {
    background-color: none;
    width: 10px;

}

::-webkit-scrollbar-thumb {
    background-color: #5b5b5b;


}

.conteudo-1 {
    display: flex;
    flex-flow: column wrap;
    background: linear-gradient(#464040, #121212);
}

/* minha marca e assinatura em todo site */


.lucca-marca {
    display: flex;
    height: 65px;
    justify-content: flex-end;
    align-items: center;
    padding-top: 30px;
    padding-right: 50px;

    /* border: 1px solid gray; */
}


.lucca-marca p {
    font-size: 15px;
    color: white;
}

.lucca-marca img {
    width: 80px;
    clip-path: circle(40% at 50% 50%);

}



/* blocos de playlists na pagina */


.playlists {
    display: flex;
    flex-flow: row wrap;
    padding: 0 32px;
    margin: 0;
    list-style: none;

    /* border: 1px solid yellow; */
}

.playlists h2 {
    flex: 100%;

    color: white;
    font-weight: bold;
    font-size: 30px;
}

.playlists li {
    display: flex;
    flex: 25%;
    margin: 0 10px;
    margin-bottom: 15px;
    height: 80px;
    border-radius: 10px;
    background: #8382825b;
    align-items: center;

    /* border: 1px solid orange; */
}

.playlists li:hover {
    cursor: pointer;
    background: #b8b6b679;
    transition: 0.2s;
}

.playlists li:hover .btn-playlist {
    visibility: visible;
}

.img-playlist {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 80px;
}

.playlists li p {
    font-weight: bold;
    padding-left: 15px;
    margin: 0;
    display: inline-block;
}

.playlists li div {
    display: flex;
    flex: 1%;
    justify-content: flex-end;
}

.btn-playlist {
    visibility: hidden;
    margin-right: 20px;
    width: 45px;
    height: 45px;
    border-radius: 40px;
    background: #1FDF64;
    padding: 10px 10px;
    border: none;
    box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.226);
}

.btn-playlist img {
    width: 25px;
    height: 25px;
}

.btn-playlist:hover {
    width: 47px;
    height: 47px;
    transition: 0.1s;
}



/* -------------- */

.conteudo-2 {
    display: flex;
    flex-flow: column wrap;

    /* border: 1px solid green; */
}

.blocos {
    display: flex;
    flex-flow: row wrap;
    padding: 0 32px;
    margin: 0;
    list-style: none;
}

.titulos {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.titulos h2 {
    flex: 20%;
}

.titulos div {
    display: flex;
    justify-content: flex-end;
}

.titulos p {
    margin-top: 16px;
    font-size: 14px;
    font-weight: bold;
    color: #a7a7a7;

}

.blocos li {
    padding: 16px;
    display: flex;
    flex-flow: column;
    width: 203px;
    margin: 0 10px;
    margin-bottom: 15px;
    height: 293px;
    border-radius: 10px;
    background: #181818;
}

.blocos li:hover {
    cursor: pointer;
    background-color: #b8b6b621;
    transition: 0.1s;
}

.blocos li img {
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.445);
    border-radius: 8px;

}

.blocos li div h4 {
    margin: 20px 0;
    margin-bottom: 12px;

}

.blocos li div p {
    color: #a7a7a7;
    margin: 0px 0;
    font-size: 14px;
}

.blocos div {
    flex: 100%;
}


.player {
    flex: 9.5%;
    background: #181818;

    border-top: 0.2px solid rgba(255, 255, 255, 0.068);

    /* border: 1px solid blue; */
}